# Security & Secrets
.env
*.key
*.pem
firebase-key.json

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
services/venv/
services/cultures_service/venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Deployment
.vercel/
.koyeb/

# IDEs
.vscode/
.idea/

# Database
*.sqlite3
db.sqlite3-journal

# Django
media
staticfiles/

# OS
.DS_Store
Thumbs.db
